:root {
  --image-size: 200px;
  --start-margin: 50px;
}

.dark_mode_toggle .secondary_block {
  margin-left: var(--image-size);
  opacity: 1.0;
  padding-left: 20px;
}

.image_block {
  display: inline-block;
  vertical-align: middle;
}

.profile_img {
  border-radius: 50%;
  width: var(--image-size);
  height: var(--image-size);
}

.block {
  padding: 15px 0;
}

.bio .top_block {
  margin-top: var(--start-margin);
}

.bio .secondary_block {
  display: inline-block;
  vertical-align: middle;
  max-width: 690px;
}

.bio p {
  font-family: Vollkorn;
  margin: 12px 0;
}

.bio .secondary_block p,
.bio .secondary_block h1 {
  margin: 5px 0;
}

.external_links {
  display: flex;
  padding: 10px 10px 0;
  margin-top: -10px;
  justify-content: space-between;
}

.link {
  color: var(--default-links);
}

p > .link {
  margin-right: 0;
}

.contact_links > .link {
  margin-right: 40px;
}

#darkModeToggle:checked~div  .link {
  color: var(--dark-links);
}

.bio a, .links_page a p {
  color: var(--default-active);
}

#darkModeToggle:checked~div  .bio a,
#darkModeToggle:checked~div  .links_page a p {
  color: var(--dark-active);
}

#darkModeToggle:checked~div  .link {
  color: var(--dark-links);
}

.projects a,
footer a {
  color: var(--default-color);
}

.content details {
  padding-top: 20px;
}

#darkModeToggle:checked~div  .projects a,
#darkModeToggle:checked~div  footer a {
  color: var(--dark-color);
}

.bio a, .active .name, .links_page a p {
  color: var(--default-active);
}

#darkModeToggle:checked~div  .active .name,
#darkModeToggle:checked~div  .links_page a p, 
#darkModeToggle:checked~div  .bio a {
  color: var(--dark-active);
}

#darkModeToggle:checked~div  .name_title, .name_title {
  color: unset;
}

.deprecated .name {
  color: var(--default-deprecated);
}

#darkModeToggle:checked~div  .deprecated .name {
  color: var(--dark-deprecated);
}

footer .name {
  color: var(--default-footer-a);
}

#darkModeToggle:checked~div  footer .name {
  color: var(--dark-footer-a);
}

.links_page .content {
  font-family: Vollkorn;
}

.links_page ul {
  margin: 0;
  padding-inline-start: 32px;
}

.section_title {
  font-size: 36px;
}

.sub_section_title {
  font-size: 28px;
  padding-bottom: 0;
}

.name {
  font-size: 28px;
}

.contact_links {
  display: flex;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contact_links::-webkit-scrollbar {
  display: none;
}

#projects summary {
  padding-bottom: 10px;
}

.texts {
  font-family: Vollkorn;
}

@media screen and (max-width: 965px) {
  .bio .secondary_block {
    margin: 0;
    max-width: 100%;
  }

  .image_block {
    width: 100%;
    text-align: center;
  }

  .name_title {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .external_links {
    justify-content: left;
    overflow: scroll;
  }

  .external_links .link {
    padding: 0 10px;
  }
}